extends layouts/common.pug

block title
    title Users Control Panel

block styles 
    link(rel="stylesheet", href="/css/moving-bg.css")
    link(rel="stylesheet", href="/css/common.css")
block content
    main
        .main-container
            form.newuser-form(action="/" method="POST")
                .form-control
                    label(for="user") Register new user
                    input(type="text", name="user", placeholder="Enter new UserName here.")#user
                button.btn(type="submit") Add User

    include layouts/moving-bg.pug