doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Documents
        link(rel="stylesheet", href="/css/index.css")
        block Style
    body
        main
            .form-container
                form.newuser-form(action="/add-username" method="POST")
                    div.form-control
                        label(for="title") Register new user
                        input(type="text", name="title", placeholder="Enter new UserName here.")#title
                    button.btn(type="submit") Add User

        .moving-bg
            .bg-txt-container
                .animate-text
                    span UP AND RUNNING
                .animate-text.left
                    span RUNNING SMOOTHLY
            .container
                .col
                    h1 Server is UP!
            