.moving-bg
        .bg-txt-container
            .animate-text
                span UP AND RUNNING
            .animate-text.left
                span RUNNING SMOOTHLY
        .bg-title-container
            h1 Server is UP!

//Animated "Server is up" moving bg, 