<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="bg-txt-container">
      <div class="animate-text">
        <span>UP AND RUNNING&nbsp;</span>
      </div>
      <div class="animate-text left">
        <span>RUNNING SMOOTHLY&nbsp;</span>
      </div>
    </div>
    
      <div class="container">
      <div class="col">
        <h1>Server is UP!</h1>
      </div>
    </div>
    
  </body>
</html>